// Layout
$max-width:  1200px;
$bp-medium: 768px;
$bp-large: 992px;
$marge:      20px;

// Typos
$font-default: 'Trebuchet MS', sans-serif;
$font-title: 'Sansation';

// Colors
$beige:       #FCF5EF;
$dark-grey:   #404040;
$dark-orange: #9F4A00;
$dark-red:    #8C3332;
$light-grey:  #5D5D5D;
$orange:      #FF6F00;
$white:       #fff;

$link-color: $white;